.container {
  margin-top: -80px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
}

.popup {
  height: 45%;
  width: 60%;
  background-color: whitesmoke;
  max-width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 10px;
  flex-direction: column;
}

.btn {
  background-color: lawngreen;
  color: black;
  font-size: 16px;
  font-family: serif;
  font-weight: 800;
  border-radius: 5px;
  width: 10vw;
  max-width: 100px;
  height: 2em;
}

.content {
  height: 50%;
  font-size: 2em;
  font-weight: 700;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn:hover {
  cursor: pointer;
}
